$domimant-color: #5c5c5c;
$blue-btn: #1b63f0;
$blue-btn-hover: #3D7FFF;
$blue-btn-active:#175EE9;
$lightgreen-btn: #64be97;
$lightgreen-btn-hover: #C0FFE4;
$lightgreen-btn-active: #83EBBF;
$btn-play: #55b089;
$star-gold: #fdd22f;
$star-empty:#dedede;