:root {
    --blackTitle: #000;
    --greyBase: #5C5C5C;
    --greyDesc: #838383;
    --greyCard: #BFBFBF;
    --greyStar: #DEDEDE;
    --whiteDesc: #fff;
    --blueDesc: #1B63F0;
    --blueBlog: #5D74E4;
    --blueData: #91A3ED;
    --blueDot: #BAD1FF;
    --blueBtnHover: #3D7FFF;
    --blueBtnAct: #175EE9;
    --blueQuote: #3F4C9A;
    --yellowData: #F0C41B;
    --goldenStar: #FDD22F;
    --redData: #FE5F60;
    --creamyTitle: #F6F2E9;
    --creamyBg: #fff9f1;
    --lightgreenTitle: #97F5CD;
    --lightgreenBtnHover: #C0FFE4;
    --lightgreenBtnAct: #83EBBF;
    --lightgreenBlog: #d6fae7;
    --lightgreenBtn: #97F5CD;
    --greenBtn: #64BE97;
    --greenBtnHover: #25DE8E;
    --greenBtnAct: #4DDA9D;
    --greenSlideAct: #55b089;
}
