.advantages {
    margin-bottom: 140px;
  &__title {
    margin-bottom: 56px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 415px;
  }

  &__item-img {
    fill: #1b63f0;
    margin-bottom: 16px;
  }

  &__item-title {
    margin-bottom: 6px;
  }

  &__item-desc {
  }
}
