.choose {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__left {
    width: 100%;

  }

  &__title {
    padding-bottom: 32px;
    margin-top: 20px;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 40px;
  }

  &__item {
    max-width: 502px;
    border-bottom: 1px solid rgba(92, 92, 92, 0.1);
  }
  &__item:not(:first-child) {
    padding-top: 40px;
  }
  &__item-title {
    padding-bottom: 16px;
  }

  &__item-info {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
  }

  &__item-date {
    display: flex;
    flex-wrap: wrap;
  }

  &__item-icon {
    stroke: var(--greyDesc);
    margin-right: 8px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 157%;
  }
  &__item-time {
    display: flex;
  }

  &__item-location {
    display: flex;
  }

  &__right {
    width: 100%;
    background: var(--creamyBg);
    position: relative;
    text-align: center;
    padding-bottom: 87px;
  }

  &__bg-title {
    font-weight: 700;
    font-size: 36px;

    line-height: 122%;
    letter-spacing: 0.4em;
    color: var(--creamyTitle);
    padding-top: 60px;
    padding-bottom: 91px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -60px;
    gap: 45px;
  }

  &__days {
    @include topCardText();
    color: var(--blueData);
  }

  &__hours {
    @include topCardText();
    color: var(--yellowData);
  }

  &__min {
    @include topCardText();
    color: var(--redData);
  }

  &__card {
    position: relative;
    background-color: silver;
    background-image: url("../../assets/images/slider-image1.png");
    background-size: cover;
    width: 328px;
    height: 380px;
    padding-bottom: 76px;
    // margin-left: 87px;
    margin: 0 auto;
    border-radius: 8px;
  }
  &__card-wrap {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    width: 280px;
    margin-top: auto;
    margin: auto 24px 0 24px;
    position: absolute;
    bottom: 0;
    padding: 24px 16px 32px;
  }
  &__card-title {
    @include itemTitle(var(--whiteDesc));
    text-align: center;
    padding-bottom: 16px;
  }

  &__card-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: var(--greyCard);
    align-items: center;
  }
  &__card-icon {
    stroke: var(--greyCard);
  }
  &__card-data {
    display: flex;
    padding-bottom: 8px;
  }
  &__btn {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}


@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
.choose{
  &__bg-title {
    font-size: 60px;
  }
  &__btn{
    left: 50%;
    transform: translateX(-50%);
  }
}
}
@media only screen and (min-width: 1440px) {
.choose{
  background: linear-gradient(90deg, var(--whiteDesc) 55%, var(--creamyBg) 48%);
  &__title{
    padding-top: 0;
    margin-top: 68px;
  }
  &__inner{
    flex-wrap: nowrap;
  }
  &__left{
    width: 60%;
    margin-right: 107px;
  }
  &__right{
    width: 40%;
    background: none;
  }
}
}