.customers {
  padding-top: 80px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__left {
    position: relative;
    padding-bottom: 24px;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 273px;
      height: 273px;
      background-color: #637af2;
      border-radius: 24px;
      z-index: -1;
    }
  }
  &__bg-wrap {
    position: relative;
  }

  &__bg {
    position: absolute;
    background: url("../../assets/icons/Vector3.svg") 100% 109%/ 28% no-repeat,
      url("../../assets/icons/Vector4.svg") 121% 112%/ 42% no-repeat;
    right: 0;
    top: -180px;
    width: 1440px;
    height: 1000px;
    z-index: -3;
  }

  &__img {
    padding-left: 53px;
    padding-top: 46px;
  }

  &__title {
    padding-bottom: 111px;
    padding-right: 50px;
  }

  &__slider-item {
    max-width: 415px;
  }
  &__slider-quote {
    position: relative;
  }
  &__slider-quote::before {
    position: absolute;
    content: "\201C";
    font-weight: 700;
    font-size: 100px;
    color: var(--blueQuote);
    top: -100px;
    left: -2px;
  }

  &__slider-desc {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 157%;
  }

  &__slider-author {
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color: var(--blackTitle);
    padding-bottom: 60px;
  }

  &__slider-dots {
    display: flex;
    gap: 5px;
    padding-bottom: 100px;
  }

  &__slider-dot {
    padding: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: none;
    background-color: var(--blueDot);
    border-radius: 50%;
    cursor: pointer;
  }
  &__slider-dot:hover {
    background-color: var(--blueBlog);
  }
  &__slider-dot:focus {
    background-color: var(--blueBlog);
  }
  &__slider-dot:active {
    background-color: var(--blueData);
  }

  &__slider-active {
    background-color: var(--blueDesc);
  }
}

.customers__right .customers__title::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 2px;
  top: 60px;
  background-color: #637af2;
  margin-left: 24px;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 379px) {
  .customers__right .customers__title::after {
    content: "";
    top: 26px;
  }
}

@media only screen and (min-width: 500px) {
  .customers {
    &__bg {
      position: absolute;
      background: url("../../assets/icons/Vector3.svg") 90% 109%/ 28% no-repeat,
        url("../../assets/icons/Vector4.svg") 106% 112%/ 42% no-repeat;
      right: 0;
      top: -180px;
      width: 1440px;
      height: 1000px;
      z-index: -3;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .customers {
    padding-top: 180px;
    &__inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    &__bg {
      background: url("../../assets/icons/Vector3.svg") 35% 114%/ 37% no-repeat,
        url("../../assets/icons/Vector4.svg") 41% 112%/ 57% no-repeat;
      height: 660px;
    }

    &__img {
      width: 412px;
      margin-right: 110px;
    }
    &__left {
      &::before {
        width: 344px;
        height: 344px;
      }
    }
  }
}