.education {
  &__wrap{
    max-width: 410px;
  }
  &__title {
    font-size: 36px;
    line-height: 122%;
    color: #000;
    margin-bottom: 32px;
  }
  &__desc{
    margin-bottom: 40px;
  }
  &__content{
    margin-bottom: 100px;
    position: relative;
  }
  &__img{
    position: absolute;
    top: -140px;
    right: 0;
  }
}
.partners {
  display: flex;
  align-items: center;
  &__link {
  }

  &__logo {
  }
}
