.footer {
  background: url(../../assets/icons/Union.svg) 100% 100% / auto auto;

  &__top {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  &__logo {
    padding-bottom: 14px;
    text-align: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__column {
    text-align: center;
  }

  &__column-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 16px;
    color: var(--blackTitle);
  }

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__item:not(:last-child) {
    padding-bottom: 12px;
  }

  &__item-link {
    font-size: 14px;
    text-decoration: none;
    color: var(--greyBase);
    transition: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item-link:hover {
    color: var(--lightgreenBtn);
  }

  &__item-link:focus {
    color: var(--lightgreenBtn);
  }

  &__item-link:active {
    color: var(--lightgreenHover);
    opacity: 0.85;
  }

  &__social {
    display: flex;
    gap: 18px;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
  }

  &__social-img {
    stroke: var(--bgSocialImg);
    transition: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__social-img:hover {
    stroke: var(--lightgreenBtn);
  }

  &__social-img:focus {
    stroke: var(--lightgreenBtn);
  }

  &__social-img:active {
    stroke: var(--lightgreenBtn);
    opacity: 0.85;
  }

  &__bottom-nav {
    margin: 0 auto;
  }

  &__bottom {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(92, 92, 92, 0.1);
    padding-top: 40px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  &__copyright {
    padding-bottom: 24px;
    margin: 0 auto;
  }

  &__bottom-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    list-style-type: none;
  }

  &__bottom-link,
  &__copyright {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: var(--greyBase);
    transition: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__bottom-link:hover {
    color: var(--blueDesc);
  }

  &__bottom-link:focus {
    color: var(--blueDesc);
  }

  &__bottom-link:active {
    color: var(--blueDesc);
    opacity: 0.85;
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    &__nav {
      flex-direction: row;
      justify-content: space-between;
    }

    &__bottom-list {
      flex-direction: row;
    }

    &__column,
    &__logo {
      text-align: start;
    }

    &__social {
      justify-content: left;
    }

    &__copyright {
      margin: 0 auto 0 0;
    }

    &__bottom-nav {
      margin: 0 auto 0 0;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    &__top {
      flex-direction: row;
    }

    &__logo {
      margin-right: 120px;
    }

    &__column-title {
      padding-bottom: 24px;
    }

    &__nav {
      justify-content: flex-start;
      flex-direction: row;
      gap: 58px;
    }

    &__bottom {
      flex-direction: row;
      align-items: center;
      padding-left: 0;
    }

    &__bottom-nav {
      margin-right: 0;
    }

    &__copyright {
      padding-bottom: 0;
    }
  }
}