.form {
    margin-bottom: 80px;
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    &__input {
        width: 420px;
        border-radius: 22px;
        padding: 14px 12px;
    }
}
.container {
}
.btn {

    &__form {
    }

    &__lightgreen {
    }
}
