.header{
    margin-bottom: 144px;
}
.logo{
    &__img {
        fill: #1B63F0;
    }
}

.nav{
    &__link{
        color: #fff;
        font-weight: 600;
        line-height: 133%;
        text-decoration: none;
        &:hover{
            opacity: .85;
        }
        &:focus{
            opacity: .85;
        }
        &:active{
            opacity: .75;
        }
    }
    &__link-active{
        color: #1B63F0;
    }
}