.header{
    margin-bottom: 144px;
    &__top{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: auto;
    }
}
.logo{
    &__img {
        fill: #1B63F0;
 
    }
}

.nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__item {
    }

    &__link {
    }

    &__link-active {
    }
}
.btn {

    &__blue {
    }

    &__ed {
    }
}
