.prefer {
  padding-top: 80px;

  &__title {
    padding-bottom: 16px;
  }

  &__desc {
    font-size: 14px;
    line-height: 157%;
    padding-bottom: 52px;
  }

  &__top {
    max-width: 676px;
    text-align: center;
    margin-bottom: 52px;
    margin: 0 auto;
  }
}

.select {
  margin: 0 auto;
  display: block;
  margin-bottom: 32px;
  width: 200px;
  padding: 14px 12px;
  background: var(--formBG);
  border-radius: 22px;
  border: none;
}

#prefer__slider{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

#prefer__slider .slider-list {
  width: 848px;
  height: 197px;
  overflow: hidden;
}

#prefer__slider .slider-track {
  display: flex;
  gap: 20px;
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#prefer__slider .item-link {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: 0px 7px 20px var(--sliderShadow);
  border-radius: 4px;
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#prefer__slider .item-link:hover {
  font-size: 18px;
  opacity: 0.75;
}

#prefer__slider .item-img{
  width: 197px;
  height: 197px;
  object-fit: cover;
}

#prefer__slider .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 180px;
  font-weight: 600;
  color: var(--whiteDesc);
}

#prefer__slider 
.prefer__top .prefer__title::after {
  top: 61px;
}

@media only screen and (min-width: 375px) {
  .prefer {
    &__title {
      text-align: start;
      padding-right: 80px;
    }
  }
}

@media only screen and (min-width: 482px) {
  .prefer {
    &__title {
      text-align: center;
    }
  }

  .prefer__top .prefer__title::after {
    top: 26px;
  }
}