.prefer {
  margin-bottom: 180px;
  &__title {
    font-size: 26px;
    line-height: 138%;
    color: #000000;
    position: relative;
    margin-bottom: 24px;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 2px;
      top: 26px;
      background-color: #637af2;
      margin-left: 24px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 157%;
  }

  &__slider {
    display: flex;
    align-items: center;
  }

  &__slider-list {
  }
  &__slider-img {
    width: 197px;
    height: 197px;
    object-fit: cover;
  }
  &__slider-link {
    position: relative;
    display: inline-block;
  }
  &__slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 180px;
    font-weight: 600;
    color: #ffffff;
  }
}
