.form {
  margin-bottom: 80px;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &__input {
    width: 420px;
    border-radius: 22px;
    padding: 14px 12px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: #f3f6fc;
  }
  &__input:hover {
    border: 2px solid rgba(27, 99, 240, 1);
    padding: 12px 10px;
  }
}
.btn {
  &__form {
    padding: 14px 44px;
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color: var(--whiteDesc);
    box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.58);
    transition: 150ms linear;
    background-color: var(--greenBtn);
  }
  &__form:hover{
    background: var(--greenBtnHover);
    box-shadow: 0px 10px 16px 4px rgba(52, 210, 142, 0.58);
  }
  &__form:focus{
    background: var(--greenBtnHover);
    box-shadow: 0px 10px 16px 4px rgba(52, 210, 142, 0.58);
  }
  &__form:active{
    background: var(--greenBtnAct);
    box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.58);
  }
}
