.tour__btn-play {
    background-image: url('../../assets/icons/play.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 16px 0px rgba(75, 202, 103, 0.56);
}