.tour__btn-play {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 16px 0px rgba(75, 202, 103, 0.56);
}

.tour__video-play {
    margin: 6px;
}