.logo {
  &__img {
    &:hover{fill: #000}
  }
}

.btn {
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 22px;
  font-size: 12px;
  line-height: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;

  &__form {
    padding: 14px 44px;
  }

  &__blue {
    background-color: $blue-btn;
    &:hover{
        background-color:$blue-btn-hover;
    }

    &:focus{
        background-color:$blue-btn-hover;
    }

    &:active{
        background-color: $blue-btn-active;
    }
  }

  &__lightgreen {
    background-color: $lightgreen-btn;
    color: #000;

    &:hover{
        // background-color:$lightgreen-btn-hover;
        opacity: .85;
    }

    &:focus{
        // background-color:$lightgreen-btn-hover;
        opacity: .85;
    }

    &:active{
        // background-color: $lightgreen-btn-active;
        opacity: .75;
    }
  }

  &__lightgreen-ed{
    background-color: #97f5cd;
    color: #000;
    &:hover{
        background-color:$lightgreen-btn-hover;
    }

    &:focus{
        background-color:$lightgreen-btn-hover;
    }

    &:active{
        background-color: $lightgreen-btn-active;
    }
  }
  &__ed {
    padding: 12px 24px;
  }

  &__form{
    box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.58);
  }
}

.slider-prev,
.slider-next {
  stroke: $lightgreen-btn;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-prev:hover,
.slider-next:hover {
  background-color: $lightgreen-btn;
  stroke: #fff;
}

.slider-prev:active,
.slider-next:active {
  background-color: $btn-play;
}

.slider-prev:focus,
.slider-next:focus {
  background-color: $lightgreen-btn;
  stroke: #fff;
}

.icon {
  &__prev,
  &__next {
    margin: 8px;
  }
}

.star {
  fill: $star-gold;
  stroke: $star-gold;
}
.star + .star {
    margin-right: 2px;
}
.star-empty {
  fill: $star-empty;
  stroke: $star-empty;
}

.tour {
  &__btn-play {
    background-color: $lightgreen-btn;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 16px 0px rgba(75, 202, 103, 0.56);
  }

  &__video-play {
    margin: 6px;
  }
}

.tour__btn-play:hover {
  border: 2px solid $lightgreen-btn;
}

.tour__btn-play:active {
  box-shadow: none;
  background-color: $btn-play;
  border: 2px solid $btn-play;
}

.tour__btn-play:focus {
  box-shadow: none;
  background-color: $btn-play;
  border: 2px solid $btn-play;
}

.customers {
  &__slider-dot {
    padding: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: none;
    background-color: #bad1ff;
    border-radius: 50%;
    cursor: pointer;
  }
  &__slider-active {
    background-color: $blue-btn;
  }
}

.blog {
  &__slider-dot {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    color: $blue-btn;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    &:hover {
      box-shadow: 0px 4px 16px #e2edfb;
    }
    &:active {
      border: 1px solid $lightgreen-btn;
      box-shadow: none;
    }
    &:focus {
      box-shadow: 0px 4px 16px #e2edfb;
    }
  }
  &__slider-active {
    border: 1px solid $lightgreen-btn;
  }
}