.courses {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 39px;
  background: url(../assets/icons/Union.svg) 100% 100% / auto auto;

  &__desc {
    color: var(--blueDesc);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    padding-bottom: 6px;
  }

  &__title {
    @include sectionTitle();
    padding-bottom: 54px;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  &__item-inner {
    position: relative;
    overflow: auto;
    gap: 20px;
    padding-left: 45px;
    padding-right: 45px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 16px;
    min-height: 364px;
    border-radius: 8px;
    background-color: silver;
    color: var(--whiteDesc);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    transition: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover {
    box-shadow: 0px 6px 20px rgba(27, 99, 240, 0.4);
  }

  &__item-avatar {
    position: absolute;
    top: -24px;
    left: 24.5px;
  }

  &__item-desc {
    @include itemTitle(var(--whiteDesc));
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__item-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  &__item-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 4px;
  }

  &__item-coust {
    display: flex;
    align-items: center;
  }

  &__item-coust-new {
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
  }

  &__item-coust-old {
    font-size: 12px;
    line-height: 16px;
    text-decoration: line-through;
  }
}

.stars {
  &__inner {
    display: flex;
    align-items: center;
  }

  &__counter {
    margin-left: 2px;
  }
}

.courses .first-item {
  background-image: url("../assets/images/courses-slide3.png");
  background-position: center;
  background-size: cover;
}

.courses .second-item {
  background-image: url("../assets/images/slider-image1.png");
  background-position: center;
  background-size: cover;
}

.courses .third-item {
  background-image: url("../assets/images/courses-slide2.jfif");
  background-position: center;
  background-size: cover;
}

.courses .fourth-item {
  background-image: url("../assets/images/slider-image4.png");
  background-position: center;
  background-size: cover;
}

.slick-list {
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.slick-track {
  display: flex;
}

.courses__item-inner .slick-arrow {
  position: absolute;
  margin-top: -20px;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
}

.courses__item-inner .slick-arrow.slick-arrow.slick-prev {
  left: 0;
}

.courses__item-inner .slick-arrow.slick-next {
  right: 0;
}

@media only screen and (min-width: 768px) {
  .courses {
    &__item {
      width: 270px;
    }
  }
}
