.tour {
  padding-bottom: 100px;

  &__video {
    position: relative;
    width: 50%;
  }

  &__video-img {
    position: absolute;
    left: -50%;
  }

  &__video {
    position: relative;
    background: url("../../assets/images/tour.png") 0% 0% / auto no-repeat;
    min-height: 520px;
    width: 100%;
    margin: 0 auto;
  }

  &__video-img {
    display: none;
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--greenBtn);
    width: 40px;
    height: 40px;
    border: 2px solid var(--whiteDesc);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 16px 0px rgba(75, 202, 103, 0.56);
    transition: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__video-play {
    margin: 6px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: var(--blueDesc);
    padding-top: 40px;
    padding-bottom: 6px;
  }

  &__title {
    padding-bottom: 24px;
  }

  &__text {
    font-size: 14px;
    line-height: 157%;
    padding-bottom: 12px;
  }

  &__list {
    padding-bottom: 24px;
    position: relative;
  }

  &__item {
    list-style-type: none;
    margin-left: 36px;
    position: relative;
    font-size: 14px;
    
    &::before {
      position: absolute;
      color: var(--tourDecorItem);
      content: "\2022";
      font-size: 26px;
      font-weight: 700;
      left: -20px;
      top: -10px;
    }
  }

  &__item:not(:last-child) {
    padding-bottom: 12px;
  }

  &__btn-play:hover {
    border: 2px solid var(--greenBtn);
  }

  &__btn-play:active {
    box-shadow: none;
    background-color: var(--greenBtn);
    border: 2px solid var(--greenBtn);
  }

  &__btn-play:focus-visible {
    box-shadow: none;
    background-color: var(--greenSlideAct);
    border: 2px solid var(--greenSlideAct);
  }
}

@media only screen and (min-width: 375px) {
  .tour {
    &__video {
      position: relative;
    }

    &__video-img {
      position: absolute;
      left: 0;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .tour {
    &__desc {
      padding-top: 56px;
    }

    &__inner {
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
    }

    &__video {
      position: relative;
      margin: 0;
      margin-right: 63px;
      max-width: 720px;
    }

    &__video-img {
      position: absolute;
      left: -50%;
    }

    &__btn-play {
      position: absolute;
      top: 50%;
      right: 40%;
      transform: translate(-50%, -50%);
      background-color: var(--greenBtn);
      width: 40px;
      height: 40px;
      border: 2px solid var(--whiteDesc);
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 4px 16px 0px rgba(75, 202, 103, 0.56);
    }

    &__info {
      width: 415px;
    }

    &__list {
      &::before{
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: var(--tourDecorCircle);
        border-radius: 50%;
        left: 373px;
        bottom: -35px;
      }

      &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: var(--tourDecorSquare);
        border-radius: 8px;
        left: 505px;
        bottom: 130px;
      }
    }
  }

  .tour .tour__container {
    margin: 0;
    margin-right: 194px;
  }
}

@media only screen and (min-width: 1440px) {
  .tour {
    &__btn-play {
      right: 25%;
    }
  }
}